*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./img/background-img.jpg) no-repeat center center/cover;
    height: 100%; /* Garante que a imagem ocupe toda a tela */
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.header-section {
    width: 100%;
    height: 120px;
    padding: 0 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 50px 40px rgba(0, 0, 0, 0.9) inset;
}

.nav-section {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section img {
    width: 148px;
    height: auto;
}

.nav-login {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 146px;
    height: 32px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown img {
    width: 18px;
    height: auto;
}

.dropdown i {
    font-size: 11px;
    text-align: center;
    margin-bottom: 4px;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .dropdown-content {
    display: block;
    position: absolute;
    background-color: #FFF;
    min-width: 146px;
    text-align: center;
}

.dropdown-content.hidden {
    display: none;
}

.entrar-login {
    width: 72px;
    height: 32px;
    background-color: rgb(229, 9, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.entrar-login:hover {
    background: rgb(170, 8, 16);
}

.main-content {
    width: 100%;
    height: auto;
}

.main-content .main-section {
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content .main-section h1 {
    font-size: 60px;
    width: 700px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 800;
}

.main-content .main-section h2 {
    font-size: 20px;
    margin-bottom: 32px;
}

.main-content .main-section p {
    font-size: 16px;
}

.main-content .main-section form {
    width: 670px;
    height: 72px;
    padding: 16px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content .main-section form input {
    width: 472px;
    height: 100%;
    border-radius: 5px;
    padding: 16px 16px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    box-sizing: border-box; /* Certifica que padding e borda são calculados dentro da largura/altura */
}

.main-content .main-section form input::placeholder {
    color: white;
}

.main-content .main-section form input:focus::placeholder {
    font-size: 11px;
    transform: translateY(-15px);
}

.main-content .main-section form input:focus {
    font-size: 11px;
}

.main-content .main-section form button {
    width: 184px;
    height: 100%;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.main-content .main-section form button i {
    margin-left: 10px;
}

.outer-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.border-gradiente {
    position: absolute;
    width: 120%;
    height: 100%;
    position: relative;
    border-radius: 50% 50% 0 0;
    background-color: red;
}

.parabola-container {
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: rgb(0, 0, 71);
    border-radius: 50% 50% 0 0;
    border-top: 3px solid rgba(184, 40, 105, 1);
    box-shadow: inset 0px -200px 100px -30px #000000,
    inset -700px -200px 100px -30px #000000,
    inset 700px -200px 100px -30px #000000;
    top: 2px;
}

.section-anuncio {
    top: 80px;
    position: absolute;
    width: 100%;
    height: 100px;
}

.container-anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
}

.assinatura-container {
    background: linear-gradient(91deg, #261733, #151a3f);
    width: 55%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 5px;
}

.text-anuncio {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.assinatura-container a {
    width: 108px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.emalta-container {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    padding: 0 0 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.emalta-container .emalta-div {
    background: #261733;
    width: 1195px;
    height: 390px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.catalogo-contaner {
    background: white;
    min-width: 214px;
    height: 300px;
    margin-left: 5px;
}

.emalta-container h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    font-weight: 700;
}

.emalta-container .scroll-btn {
    width: 24px;
    height: 120px;
    background: #FFFFFF1A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}