* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #000;
    position: relative;
}

.main-container {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.feed-section {
    width: 100%;
    max-width: 630px;
    height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sugestao-section {
    width: 383px;
    min-width: 383px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.nav-mobile {
    display: none;
}

.nav-aside {
    background-color: #000;
    width: 21rem;
    height: 100vh;
    border-right: 1px solid #303030;
    display: flex;  
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    padding: 20px 12px 15px;
}

.main-container .feed-section .section-story {
    width: 100%;
    max-width: 630px;
    height: 100px;
    margin: 16px 0 24px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.insta-img {
    width: 311px;
    height: 73px;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    padding: 25px 12px 16px;
    position: fixed;
}

.insta-img img {
    width: 120px;
    height: auto;
}

.nav-aside .pagina-inicial {
    display: flex;
    flex-direction: column;
    height: 679px;
    position: fixed;
    margin-top: 80px;
}

.nav-aside .pagina-inicial img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.nav-aside .pagina-inicial span img {
    border-radius: 50%;
}

.nav-aside .pagina-inicial a, .threades a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 4px 0;
    padding: 12px;
    display: flex;
    align-items: center;
}

.threades {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 750px;
}

.threades i{
    margin-right: 16px;
    font-size: 24px;
}


.main-container .feed-section .section-story .change-story {
    position: absolute;
    right: 0;
}

.main-container .feed-section .section-story .change-story img {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.main-container .feed-section .section-story .story-class {
    width: 79px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container .feed-section .section-story .story-class a {
    background-color: white;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-image: url(./img/4-reel-icon.png);
    background-image: linear-gradient(240deg, rgb(247, 0, 255), rgb(255, 94, 0), rgb(233, 233, 38));
    padding: 3px;
}

.main-container .feed-section .section-story .story-class p {
    font-size: 12px;
    color: white;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 4px;
}

.main-container .feed-section .section-story .live-story {
    position: absolute;
    width: 43px;
    height: 16px;
    font-size: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FF0169;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;  
    bottom: 23px;
}

.feed-scrool {
    max-width: 470px;
    height: 732px;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    max-width: 466px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cabecalho .avatar-feed {
    display: flex; 
    gap: 8px; 
    align-items: center;
}

.cabecalho .avatar-feed a{
    background-color: white;
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(./img/4-reel-icon.png);
    background-image: linear-gradient(240deg, rgb(247, 0, 255), rgb(255, 94, 0), rgb(233, 233, 38));
    padding: 3px;   
}   

.cabecalho p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.cabecalho span {
    color: #0095f6;
    font-weight: bold;
}

.cabecalho .fa-ellipsis {
    font-size: 16px;
    color: white;
    height: auto;
}

.cabecalho .img-class, .story-class img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.feed-scrool .post-feed {
    max-width: 468px;
    height: 468px;
    background-color: #FF0169;
    overflow: hidden;
}

.feed-scrool .interacao-section {
    max-width: 468px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.feed-scrool .interacao-section a {
    height: 40px;
    color: white;
    font-size: 24px;
}

.feed-scrool .interacao-section .fa-paper-plane {
    font-size: 20px;
}

.feed-scrool .interacao-section .curta-comenta-class a{
    padding-right: 16px;
}

.fa-bookmark {
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.heart-icon {
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.solid {
    color: red;
}

.solid {
    color: red; /* Cor ao ser curtido */
  }

  /* Animação de "pulso" */
  .pulse {
    animation: pulse 0.3s ease;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3); /* Tamanho maior no meio do pulso */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho original */
    }
  }

.like-section {
    display: flex;
    align-items: center;
    gap: 0;
    position: relative;
    margin-left: 10px;
}

.section-img-mini {
    display: flex;
}

.like-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    position: relative;
    margin-left: -10px;
}

.like-avatar img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.like-section .like-number {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
}

.title-section {
    height: 40px;
    font-size: 14px;
    display: flex;
}

.title-section .fa-heart {
    color: red;
}

.title-section span i{
    width: 20px;
    height: 20px;
    text-align: center;
    color: #0095f6;
}

.ver-traducao {
    width: 100%;
    margin: 8px 0 0;
}

.ver-traducao p {
    font-size: 12px;
}

.ver-comentarios {
    width: 100%;
    margin-top: 4px;
}

.ver-comentarios {
    font-size: 14px;
    color: #A8A8A8;
}

.adicione-comentario {
    width: 100%;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adicione-comentario p {
    font-size: 14px;
    color: #A8A8A8;
}

.adicione-comentario i {
    font-size: 13px;
}

.line-bottom {
    height: 100%;
    height: 1px;
    background-color: #A8A8A8;
    margin: 20px 0;
    opacity: 0.3;
}

.sugestao-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sugestao-container .perfil-section {
    display: flex;
    align-items: center;
    margin-top: 36px;
    justify-content: space-between;
}

.sugestao-container .perfil-section .foto-perfil-class {
    display: flex;
    align-items: center;
}

.sugestao-container .perfil-section .foto-perfil {
    width: 44px;
    height: auto;
    border-radius: 50%;
    margin-right: 12px;
}

.sugestao-container .perfil-section img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.sugestao-container .perfil-section p {
    color: white;
    font-size: 14px;
}

.sugestao-container .perfil-section a {
    color: #0095f6;
    text-decoration: none;
    font-size: 12px;
}

.sugestao-container .text-sugestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.sugestao-container .text-sugestion p {
    font-size: 14px;
    color: #A8A8A8;
    font-weight: bold;
}

.sugestao-container .text-sugestion a {
    color: #0095f6;
    text-decoration: none;
    font-size: 12px;
}

.perfil-sugestion {
    width: 315px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil-sugestion .perfil-section {
    margin: 0;
}

.footer-class {
    margin-top: 30px;
    width: 250px;
}

.footer-class ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #A8A8A8;
}

.footer-class .meta-text {
    font-size: 12px;
    color: #A8A8A8;
    margin-top: 20px;
    text-transform: uppercase;
}

.stories-section {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    color: #1c1e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.stories-section .top-section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.stories-section .top-section img {
    width: 120px;
    height: auto;
}

.stories-section .top-section i{
    color: white;
    font-size: 24px;
}

.stories-section .story-container {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.bottom-section {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

.bottom-section input {
    width: 75%;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
    background: transparent;
}

.bottom-section i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.section-comment {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-comment .fa-xmark {
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    font-size: 30px;
    cursor: pointer;
}

.section-comment.hidden {
    display: none;
}

.container-comment {
    width: 65%;
    height: 90vh;
    display: flex;
}

.picture-height {
    background-color: #8f536c;
    width: 60%;
    height: 100%;
}

.picture-height img {
    width: 100%;
    height: 100%;
}

.picture-comment {
    background-color: #000;
    width: 40%;
    height: 100%;
    position: relative;
}

.picture-comment .cabecalho {
    width: 100%;
    height: 70px;
    margin: 0;
    border-bottom: 1px solid #3a3a3a;;
    padding: 20px 10px;
}

.picture-comment .bottom-comments {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    border-top: 1px solid #3a3a3a;;
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}

.picture-comment .bottom-comments .icons{
    display: flex;
    gap: 20px;
}

.picture-comment .bottom-comments .icons i {
    font-size: 24px;
    cursor: pointer;
}

.picture-comment .bottom-comments .text-bottom {
    position: absolute;
    top: 50px;
    font-size: 12px;
}

.picture-comment .bottom-comments span {
    width: 100%;
    height: 1px;
    background-color: #3a3a3a;
    position: absolute;
    left: 0;
    top: 100px;
}

.add-comentario {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;  
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.add-comentario a{
   text-decoration: none;
   color: #426074;
   font-weight: bold;
   margin-right: 15px;
   font-size: 14px;
}

.add-comentario i {
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
}

.add-comentario p{
  font-size: 14px;
  color: #A8A8A8;
}

.titulo-comments .cabecalho {
    border: none;
    height: 60px;
    padding: 10px 10px;
}

.text-comments {
    display: flex;
    gap: 20px;
    margin-left: 60px;
    margin-top: 5px;
}

.text-comments p{
    font-size: 12px;
    margin-bottom: 20px;
}


.add-comments {
    display: flex;
    flex-direction: column;
    height: auto;
}

.add-comments .cabecalho {
    border: none;
    width: 90%;
}

.cabecalho .fa-heart {
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
}

.add-comments .cabecalho {
    padding: 0 10px;
    height: auto;
}

.story-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex; 
    align-items: center;
    justify-content: center;
}

.story-modal .fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 60px;
    font-size: 30px;
}

.story-content {
    background-color: #0095f6;
    width: 85%;
    height: 95%;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    position: absolute;
}

.story-hidden {
    position: absolute;
    background-color: #426074;
    width: auto;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
    left: 32%;
}

.story-slider {
    background-color: #8f536c;
    width: 11vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.story-slider.active {
    width: 28vw;
    height: 95vh; 
    position: relative;
}

.story-slider.active i{
    font-size: 24px;
}

.story-slider.active .fa-circle-left{
    position: absolute;
    left: -30px;
    cursor: pointer;
}

.story-slider.active .fa-circle-right{
    position: absolute;
    right: -30px;
    cursor: pointer;
}

.story-avatar {
    width: 64px;
    height: 64px;
    background-color: #000;
    border-radius: 50%;
}

.story-textBold{
    font-weight: bold;
    font-size: 16px;
}



/* --------------------------------------------------------------- */
/* RESPONSIVIDADE */
/* --------------------------------------------------------------- */

@media (max-width: 1250px) {
    .nav-aside .pagina-inicial {
        padding-top: 25px;
    }

    .nav-aside {
        width: 72px;
        min-width: 72px;
        padding: 0 12px;
    }

    .aside-text{
        display: none;
    }

    .nav-aside .insta-img img {
        display: none;
    }

    .nav-aside .fa-instagram {
        position: absolute;
        top: -710px;
    }

    .nav-aside .fa-instagram {
        margin-right: 16px;
        font-size: 24px;
    }

}

@media (max-width: 1160px) {
    .sugestao-section {
        display: none;
    }

    .footer-class {
        display: none;
    }

    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .nav-aside {
        display: none;
    }

    .main-container {
        flex-direction: column;
    }

    .nav-mobile {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;
    }

    .insta-mobile {
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .insta-mobile img {
        width: 130px;
    }

    .img-mobile {
        width: 24px;
        height: 24px;
    }

    .img-mobile.ajuste {
        position: absolute;
        right: 50px;
    }

    .main-container .feed-section {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .main-container .feed-section .section-story {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .feed-scrool {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .feed-scrool .post-feed {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .adicione-comentario .fa-face-smile{
        display: none;
    }
}
