* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}

body {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #000;
}

.main-container {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
}

.feed-section {
    width: 630px;
    min-width: 630px;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sugestao-section {
    width: 383px;
    min-width: 383px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.nav-aside {
    background-color: #000;
    width: 21rem;
    min-width: 18rem;
    height: 100vh;
    border-right: 1px solid #303030;
    display: flex;  
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    padding: 20px 12px 15px;
}

.nav-aside .insta-img {
    width: 311px;
    height: 73px;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    padding: 25px 12px 16px;
    position: fixed;
}

.nav-aside .insta-img img {
    width: 120px;
    height: auto;
}

.nav-aside .pagina-inicial {
    display: flex;
    flex-direction: column;
    height: 679px;
    position: fixed;
    margin-top: 80px;
}

.nav-aside .pagina-inicial img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.nav-aside .pagina-inicial span img {
    border-radius: 50%;
}

.nav-aside .pagina-inicial a, .threades a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 4px 0;
    padding: 12px;
    display: flex;
    align-items: center;
}

.threades {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 750px;
}

.threades i{
    margin-right: 16px;
    font-size: 24px;
}

.main-container .feed-section .section-story {
    width: 100%;
    height: 100px;
    margin: 16px 0 24px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-container .feed-section .section-story .story-class {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container .feed-section .section-story .story-class a {
    background-color: white;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-image: url(./img/4-reel-icon.png);
    background-image: linear-gradient(240deg, rgb(247, 0, 255), rgb(255, 94, 0), rgb(233, 233, 38));
    padding: 3px;
}

.main-container .feed-section .section-story .story-class p {
    font-size: 12px;
    color: white;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 4px;
}

.main-container .feed-section .section-story .story-class img, .feed-scrool .cabecalho .img-class {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.main-container .feed-section .section-story .live-story {
    position: absolute;
    width: 43px;
    height: 16px;
    font-size: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FF0169;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;  
    bottom: 23px;
}

.main-container .feed-section .section-story .change-story {
    position: absolute;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
}

.main-container .feed-section .section-story .change-story img {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.feed-scrool {
    width: 470px;
    height: 732px;
    display: flex;
    flex-direction: column;
}

.feed-scrool .cabecalho {
    width: 466px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.feed-scrool .cabecalho a{
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(./img/4-reel-icon.png);
    background-image: linear-gradient(240deg, rgb(247, 0, 255), rgb(255, 94, 0), rgb(233, 233, 38));
    padding: 3px;   
}   

.feed-scrool .cabecalho p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #A8A8A8;
}

.feed-scrool .cabecalho span {
    color: #0095f6;
    font-weight: bold;
}

.feed-scrool .cabecalho img {
    width: 20px;
    height: auto;
}

.feed-scrool .post-feed {
    width: 468px;
    height: 468px;
    background-color: #FF0169;
    overflow: hidden;
}

.feed-scrool .interacao-section {
    width: 468px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.feed-scrool .interacao-section a {
    height: 40px;
    color: white;
    font-size: 24px;
}

.feed-scrool .interacao-section .curta-comenta-class a{
    padding-right: 16px;
}

.heart-icon {
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.heart-icon.solid {
    color: red;
}

.heart-icon.solid {
    color: red; /* Cor ao ser curtido */
  }

  /* Animação de "pulso" */
  .heart-icon.pulse {
    animation: pulse 0.3s ease;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3); /* Tamanho maior no meio do pulso */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho original */
    }
  }

.like-section {
    display: flex;
    align-items: center;
    gap: 0;
    position: relative;
    margin-left: 10px;
}

.like-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    position: relative;
    margin-left: -10px;
}

.like-avatar img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.like-section .like-number {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
}

.title-section {
    height: 40px;
    font-size: 14px;
    display: flex;
}

.title-section span i{
    width: 20px;
    height: 20px;
    text-align: center;
    color: #0095f6;
}

.ver-traducao {
    width: 100%;
    margin: 8px 0 0;
}

.ver-traducao p {
    font-size: 12px;
}

.ver-comentarios {
    width: 100%;
    margin-top: 4px;
}

.ver-comentarios {
    font-size: 14px;
    color: #A8A8A8;
}

.adicione-comentario {
    width: 100%;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adicione-comentario p {
    font-size: 14px;
    color: #A8A8A8;
}

.adicione-comentario i {
    font-size: 13px;
}

.line-bottom {
    height: 100%;
    height: 1px;
    background-color: #A8A8A8;
    margin: 20px 0;
    opacity: 0.3;
}

.sugestao-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sugestao-container .perfil-section {
    display: flex;
    align-items: center;
    margin-top: 36px;
    justify-content: space-between;
}

.sugestao-container .perfil-section .foto-perfil-class {
    display: flex;
    align-items: center;
}

.sugestao-container .perfil-section .foto-perfil {
    width: 44px;
    height: auto;
    border-radius: 50%;
    margin-right: 12px;
}

.sugestao-container .perfil-section img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.sugestao-container .perfil-section p {
    color: white;
    font-size: 14px;
}

.sugestao-container .perfil-section a {
    color: #0095f6;
    text-decoration: none;
    font-size: 12px;
}

.sugestao-container .text-sugestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.sugestao-container .text-sugestion p {
    font-size: 14px;
    color: #A8A8A8;
    font-weight: bold;
}

.sugestao-container .text-sugestion a {
    color: #0095f6;
    text-decoration: none;
    font-size: 12px;
}

.perfil-sugestion {
    width: 315px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil-sugestion .perfil-section {
    margin: 0;
}

.footer-class {
    margin-top: 30px;
    width: 250px;
}

.footer-class ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #A8A8A8;
}

.footer-class .meta-text {
    font-size: 12px;
    color: #A8A8A8;
    margin-top: 20px;
    text-transform: uppercase;
}